.container {
	section {
		.subtitle {
			margin: 2rem 0;
		}

		.content-container {
			display: flex;
			flex-direction: column;

			.labels {
				position: sticky;
				top: 67px;
				z-index: 3;
				background: rgb(29, 29, 29);
			}

			.wrapper {
				position: relative;
			}

			.row,
			.labels {
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				gap: 1rem;
				border-bottom: 1px solid $primary-colour;
				width: fit-content;
				padding: 1rem 2rem;
				width: 100%;

				> * {
					width: 100%;
				}

				.profile {
					height: 4rem;
					object-fit: contain;
				}

				.name {
					margin-bottom: 1rem;
				}

				.history {
					list-style: none;

					.history-item {
						border-right: 1px solid $primary-colour;
						margin-bottom: 0.3rem;
						padding-right: 0.5rem;
					}
				}

				&:hover ~ .actions {
					visibility: visible;
					opacity: 1;
				}
			}

			.actions {
				position: absolute;
				right: 5rem;
				top: 50%;
				transform: translateY(-50%);
				@include flexRowCenter;
				z-index: 2;
				background: $primary-colour;
				border-radius: 1000rem;
				opacity: 0;
				visibility: hidden;

				&:hover {
					visibility: visible;
					opacity: 1;
				}

				button {
					@include buttonReset;
					cursor: pointer;
					border-radius: 100%;
					padding: 0.5rem 1rem;

					&:hover {
						background: darken($color: $primary-colour, $amount: 10);
					}

					.icon {
						font-size: 1.5rem;
					}
				}
			}
		}
	}
}
