.main {
	.holder {
		@include flexAllCol;
		margin-top: 2rem;

		img {
			width: 40%;
			margin-bottom: 2rem;

			animation: fancy 1.5s ease-out infinite alternate;
		}

		@keyframes fancy {
			to {
				transform: scale(1.3) rotate(20deg);
			}
		}
	}
}
