@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;900&display=swap");

$primary-color: orange;
$accent-color: rgb(61, 166, 255);

%flex {
	display: flex;
}

%point {
	cursor: pointer;
}

@mixin pseudo {
	position: absolute;
	top: 1rem;
	left: -1rem;
	background: $primary-color;
	padding: 0.3rem 0.5rem;
	border-radius: 1000rem;
	color: white;
	transform: translateY(-2rem);
	opacity: 0;
	pointer-events: none;
}

@mixin buttonReset {
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
	color: inherit;
}

@mixin flexColCenter {
	@extend %flex;
	justify-content: center;
	flex-direction: column;
}

@mixin flexRowCenter {
	@extend %flex;
	justify-content: center;
}

@mixin flexAllRow {
	@extend %flex;
	justify-content: center;
	align-items: center;
}

@mixin flexAllCol {
	@extend %flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@mixin mq($size) {
	@media only screen and (max-width: $size) {
		@content;
	}
}

*,
*::before,
*::after {
	font-family: "Poppins", sans-serif;
	transition: 0.3s ease;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: whitesmoke;

	&.dark {
		background: rgb(29, 29, 29);
		color: white;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

.toggle {
	@include buttonReset();
	position: absolute;
	top: 5rem;
	left: 1rem;
	background: rgba($color: $primary-color, $alpha: 0.7);
	border-radius: 50%;
	padding: 0.5rem;
	width: 3rem;
	height: 3rem;

	&:hover,
	&:focus {
		box-shadow: 0 0 5px 5px rgba($color: $primary-color, $alpha: 1);
	}

	@include mq(768px) {
		top: 1rem;
		left: 4rem;
		background: rgb(29, 29, 29);
	}

	.icon {
		font-size: 2rem;
		color: white;
	}
}
