@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;900&display=swap");

*,
*::before,
*::after {
	font-family: "Poppins", sans-serif;
	transition: 0.3s ease;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}
