.content {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.body {
		display: flex;
		gap: 1rem;
		position: relative;
		flex: 1;
		padding-right: 2rem;

		.profile {
			height: 3rem;
			width: 3rem;
			border-radius: 50%;
			pointer-events: none;

			@include mq(500px) {
				height: 2rem;
				width: 2rem;
			}

			&.sm {
				width: 2rem;
				height: 2rem;

				@include mq(500px) {
					height: 1.5rem;
					width: 1.5rem;
				}
			}
		}

		.details {
			width: 100%;

			.upvote,
			.downvote,
			.reply {
				@include buttonReset;
				color: inherit;

				&:hover {
					transform: scale(0.9);
				}
			}

			.top {
				@include flexAllRow;
				justify-content: flex-start;
				gap: 0.5rem;

				.datetime {
					font-size: 0.7rem;
				}
			}

			.text {
				white-space: pre-wrap;

				.embed-link {
					color: rgb(0, 166, 232);
				}

				&:hover {
					.options {
						opacity: 1;
					}
				}

				.mention {
					color: $accent-color;
				}
			}

			.actions {
				@include flexAllRow;
				justify-content: flex-start;
				gap: 0.5rem;
				color: grey;

				.upvote,
				.downvote {
					&.active {
						span .icon {
							color: $accent-color;
						}
					}
				}

				.upvotes {
					@include flexAllRow;
					gap: 0.2rem;
				}

				.icon {
					color: grey;
					font-size: 1.3em;

					&:hover {
						color: black;
					}
				}
			}
		}
	}

	.options {
		position: relative;
		margin-right: 5rem;

		@include mq(500px) {
			margin-right: 1rem;
		}

		.select {
			@include buttonReset;

			.icon {
				color: grey;
				font-size: 1.2rem;

				&:hover {
					color: black;
				}
			}
		}

		.holder {
			position: absolute;
			top: 0rem;
			padding: 0.5rem;
			background: $primary-color;
			color: white;
			border-radius: 0.2rem;
			right: 2rem;
			opacity: 0;
			pointer-events: none;

			&.visible {
				opacity: 1;
				pointer-events: all;
			}

			.item {
				@include buttonReset;
				@include flexAllRow;
				color: inherit;
				justify-content: flex-start;
				gap: 0.5rem;
				font-size: 1rem;

				&:hover {
					transform: scale(0.95);
				}
			}
		}
	}
}
