.comment {
	margin-bottom: 1rem;

	.expand {
		margin-left: 4rem;

		.view-more {
			@include buttonReset;
			color: $accent-color;
			font-size: 1rem;

			&:hover {
				opacity: 0.8;
			}

			span {
				@include flexAllRow;

				.icon {
					font-size: 1.5em;
				}
			}
		}
	}
}
