.comment {
	.expand {
		.view-more {
			background: none;
			outline: none;
			border: none;
			color: rgb(61, 166, 255);
			font-size: 1.1rem;
			cursor: pointer;

			&:hover {
				opacity: 0.8;
			}
		}
	}
}
