.form-holder {
	.form {
		display: flex;
		justify-content: center;
		gap: 2rem;

		@include mq(500px) {
			flex-direction: column;
			align-items: center;
		}

		.url {
			text-align: center;
			padding: 1rem 2rem;
			width: 30rem;
			border: none;
			outline: none;

			&:hover,
			&:focus {
				box-shadow: 0 0 5px 1px rgba($color: orange, $alpha: 0.5);
			}
		}

		.submit {
			background: orange;
			color: white;
			padding: 1rem 2rem;
			border: none;
			outline: none;
			cursor: pointer;

			&:hover,
			&:focus {
				box-shadow: inset 0 0 5px 1px rgba($color: white, $alpha: 0.5);
			}
		}
	}
}
