.item {
	border-left: 5px solid $primary-colour;
	text-align: left;

	img {
		width: 100%;
	}

	.name,
	.uploader,
	.date {
		margin: 1rem;
	}

	.name {
		color: $primary-colour;
	}

	.date {
		font-weight: normal;
		background: $primary-colour;
		width: fit-content;
		margin: 1rem;
		padding: 0.3rem;
		border-radius: 2rem;
		color: white;
	}
}
