.main.index {
	justify-content: flex-start;
	padding: 2rem;

	.topbar {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.action {
			background: rgba($color: $primary-color, $alpha: 0.7);
			padding: 1rem 2rem;
			border-radius: 1rem;
			color: white;

			&:hover {
				transform: scale(0.9);
			}
		}
	}

	section {
		border-bottom: 1px solid $primary-color;
		padding-bottom: 1rem;
	}
}

.accent {
	color: $primary-color;
}
