.main.index {
	justify-content: flex-start;
	padding: 2rem;

	.topbar {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include mq(768px) {
			flex-direction: column;
			align-items: start;
			gap: 0.5rem;
		}
	}

	section {
		border-bottom: 1px solid $primary-color;
		padding-bottom: 1rem;

		.subtitle {
			margin-bottom: 0.5rem;
		}
	}
	.accent {
		color: $primary-color;
	}
}

.action {
	background: rgba($color: $primary-color, $alpha: 0.7);
	padding: 1rem 2rem;
	border-radius: 1rem;
	color: white;

	&:hover {
		transform: scale(0.9);
	}
}

footer {
	padding: 1rem 2rem;

	.subtitle {
		margin-bottom: 1rem;
	}

	.links {
		display: flex;
		gap: 2rem;
	}
}
