.nav-header {
	position: sticky;
	top: 0;
	z-index: 2;

	.nav {
		background: $primary-color;
		padding: 1rem;

		.links {
			@include flexAllRow;
			justify-content: space-between;
			list-style: none;
			color: white;

			@include mq(500px) {
				flex-direction: column;
			}

			.row {
				width: 100%;
				@include flexAllRow;
				justify-content: space-between;

				.logo-holder {
					.logo {
						font-weight: 900;

						@include mq(500px) {
							font-size: 3rem;
						}
					}
				}

				.expand {
					display: none;

					@include mq(500px) {
						display: block;
					}
				}
			}

			.links-holder {
				@include flexAllRow;
				gap: 2rem;

				@include mq(500px) {
					flex-direction: column;
				}

				.link {
					cursor: pointer;
					position: relative;

					&:hover,
					&:focus {
						transform: scale(0.9);
					}
				}
			}

			.profile {
				@include flexAllRow;
				gap: 1rem;

				.photo {
					border-radius: 50%;
					height: 2em;
					width: 2em;
					object-fit: cover;
				}
			}
		}
	}
}
