.nav-header {
	.nav {
		background: orange;
		padding: 1rem;

		.links {
			@include flexAllRow;
			justify-content: space-between;
			list-style: none;
			color: white;

			.logo-holder {
				.logo {
					font-weight: 900;
				}
			}

			.links-holder {
				@include flexAllRow;
				gap: 2rem;

				.link {
					cursor: pointer;
					position: relative;

					&:hover,
					&:focus {
						transform: scale(0.9);
					}
				}
			}

			.profile {
				@include flexAllRow;
				gap: 1rem;

				.photo {
					border-radius: 50%;
					height: 2em;
					width: 2em;
					object-fit: cover;
				}
			}
		}
	}
}
