.main {
	text-align: center;

	.head {
		.profile {
			border-radius: 50%;
		}

		input {
			color: transparent;
			position: relative;
			margin: 1rem 0;
			outline: none;

			&::-webkit-file-upload-button {
				visibility: hidden;
			}

			&::before {
				content: var(--url);
				display: inline-block;
				cursor: pointer;
				position: relative;
				left: 50%;
				transform: translateX(-50%);
				border-radius: 50%;
			}
			&:hover::before {
				border-color: black;
			}
			&:active::before {
				background: linear-gradient(#e3e3e3, #f9f9f9);
			}
		}
	}

	.form {
		.input-group {
			display: flex;
			flex-direction: column;
			gap: 0.4rem;
			align-items: center;
			margin: 1rem 0;

			input:not([type="checkbox"]) {
				background: transparent;
				border: none;
				outline: none;
				color: inherit;
				border-bottom: 1px solid var(--white);
				width: 100%;
			}

			button {
				@include buttonReset;
				background: $primary-colour;
				color: white;
				padding: 1rem 2rem;
				border-radius: 1000000rem;
				width: 100%;
			}
		}
	}
}
