.container {
	padding: 1rem;

	.results {
		&.block {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			a {
				width: 28rem;
				display: inline-block;
				padding: 0;
			}
		}
		.title {
			font-size: 2rem;
		}

		.result {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			gap: 2rem;
			margin: 1rem auto 0;
			width: 80%;
			padding: 1rem;
			cursor: pointer;
			position: relative;
			border-bottom: 1px solid black;

			@include mq(768px) {
				margin: 2rem auto 0;
				flex-direction: column;
				gap: 2rem;
				width: fit-content;
				padding: 2rem;
			}

			&.block {
				flex-direction: column;
				gap: 0rem;
				border: none;
				width: 100%;

				@include mq(768px) {
					padding: 0;
				}

				.thumbnail {
					width: 100%;
					object-fit: cover;
				}

				.details {
					margin-top: 1rem;

					.name {
						font-size: 1rem;
						font-weight: bold;
					}

					.bottom {
						position: static;
					}

					.uploader {
						font-size: 1rem;
					}
				}
			}

			.thumbnail {
				height: 15rem;

				@include mq(768px) {
					width: 100%;
					object-fit: contain;
				}
			}

			.details {
				display: flex;
				flex-direction: column;

				.name {
					font-weight: normal;

					@include mq(768px) {
						font-size: 1rem;
					}
				}

				.bottom {
					position: absolute;
					bottom: 1rem;

					@include mq(768px) {
						position: static;
					}

					.uploader {
						font-weight: normal;

						@include mq(768px) {
							font-size: 1rem;
						}
					}

					.date {
						font-weight: normal;
					}
				}
			}
		}
	}
}
