.error-holder {
	@include flexAllCol;
	margin-top: 2rem;

	.error-image {
		width: 40%;
	}
}

.container {
	padding: 1rem;

	.results {
		.title {
			font-size: 2rem;
			margin: 2rem 0 0 1rem;
		}

		.result {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			gap: 7rem;
			margin-top: 1rem;
			background: white;
			padding: 1rem;
			border-radius: 1rem;
			cursor: pointer;
			position: relative;

			@include mq(768px) {
				margin: 2rem auto 0;
				flex-direction: column;
				gap: 2rem;
				width: fit-content;
				padding: 2rem;
			}

			.thumbnail {
				height: 15rem;

				@include mq(768px) {
					width: 100%;
					object-fit: contain;
				}
			}

			.details {
				display: flex;
				flex-direction: column;

				.name {
					font-weight: normal;

					@include mq(768px) {
						font-size: 1rem;
					}
				}

				.bottom {
					position: absolute;
					bottom: 1rem;

					@include mq(768px) {
						position: static;
					}

					.uploader {
						font-weight: normal;

						@include mq(768px) {
							font-size: 1rem;
						}
					}

					.date {
						font-weight: normal;
					}
				}
			}
		}
	}
}
