.main {
	@include flexAllCol;
	gap: 1rem;
	min-height: calc(100vh - 4.2rem);

	&.padding {
		padding: 2rem;
		align-items: flex-start;

		ul {
			list-style: none;
		}

		a {
			color: $accent-colour;
		}
	}

	.title {
		font-size: 3rem;

		@include mq(500px) {
			font-size: 2rem;
		}
	}

	.sign-in {
		@include flexAllRow;
		font-family: inherit;
		background: $primary-colour;
		border: none;
		padding: 1rem 3rem;
		color: white;
		cursor: pointer;

		&:hover {
			background: rgba($color: $accent-colour, $alpha: 0.8);
		}

		.icon {
			font-size: 2rem;
		}
	}
}
