.video-holder {
	padding: 1rem;

	.title {
		margin-top: 1rem;
	}

	.player {
		iframe {
			width: 100%;
			height: 70vh;
		}
	}

	.stats {
		display: flex;
		gap: 1rem;
	}

	.uploader {
		font-size: 1.5rem;
	}

	.desc {
		margin-top: 1rem;
		white-space: pre-wrap;
		background: rgb(69, 69, 69);
		color: white;
		padding: 1rem;
		border-radius: 1rem;
	}
}
